# Dependências do Node.js
node_modules/

# Arquivos de ambiente
.env

# Logs e arquivos temporários
*.log
tmp/

# Arquivos de sistema operacional
.DS_Store

# Arquivos de configuração de editores
.vscode/

# Pastas de build
dist/